[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
ipython = "*"
yapf = "*"
flake8 = "*"
pylint = "*"
papermill = "*"

[packages]
matplotlib = "*"
tensorflow-gpu = ">=2.0.0"
tensorflow-probability = "*"
tensorflow-datasets = "*"
pillow = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
